header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80807a;
    color: rgb(2, 2, 2);
    height: 100px;
  }
  
  .contenedor {
    display: flex;
    padding: 20px;
    align-items: center;
  }
  
  .contenidoPersonal {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10%;
  }
  
  a:hover {
    color: rgb(68, 56, 245);
  }
  
  .fotoPersonal {
    height: 600px;
    margin-right: 50px;
    margin-left: 70px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-color: black;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 232, 232);
  }
  
  footer {
    height: 100px;
    background-color: #80807a;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 15px;
  }
  
  .logoUADE {
    margin-top: 10px;
    margin-bottom: 0;
    height: 80px;
    background-color: white;
  }
  
  @media (max-width: 1330px) {
    .contenedor {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 25%;
      margin-right: 25%;
    }
    
    .fotoPersonal {
      margin-bottom: 20px;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media (max-width: 600px) {
      .fotoPersonal{
      height: 400px;
      }
      h1{
    font-size: 150%;
    }
    }
  
  /* Estilos para el modo noche */
  body.night-mode {
      background-color: #121212;
      color: white;
  }
  
  header.night-mode, footer.night-mode {
      background-color: #1f1f1f;
      color: white;
  }
  
  a.night-mode {
      color: #bb86fc;
  }
  
  a.night-mode:hover {
      color: #3700b3;
  }
  
  .fotoPersonal.night-mode {
      
      border-color: white;
  }
  
  .contenidoPersonal.night-mode h3 {
      color: #bb86fc;
  }
  
  /* Estilos del botón*/
  #toggle-mode {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 20px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    color: inherit;
    transition: color 0.3s;
    display: flex;
  }
  
  #toggle-mode:hover {
      color: #ffc107; /* Color dorado para el hover */
  }
  
